.navButton {
    width:  5em;
    height: 5em;
    border-radius: 100%;
    position: relative;
    margin-top: 0.5em;
    
    transition: all 0.5s;
    
    background-color: #9FC0DF;
    color:black;

    cursor: pointer;
}


.navButton .mdi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
  }
